@keyframes slideInFromBottom {
  0% {
    position: relative;
    bottom: -500px;
    opacity: 0;
  }
  100% {
    position: relative;
    bottom: 0;
    opacity: 1;    
  }
}

// Global ~~~~~~~~~~~
body {
  font-family: 'Space Mono', Helvetica, sans-serif;
  color: $color-1;  
}

body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-thumb {
  background-color: $color-1;
}

body::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,0);
  // border-left: 2px solid $color-1;
}

h1 {
  color: $color-1;
}
h1,h2,h2,h4 {
  margin: 0;
}
a,p,li {
  font-size: 14px;
  line-height: 18px;
}
a {
  color: $color-1;  
}
a:hover, a:focus {
  text-decoration: none;
  color: $color-1;
}
ul {
  padding: 0;
  margin: 0;
}
:focus {
  outline: none;  
}
.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
ul {
  list-style: none;
}
.left {
  display: inline-block;
  float: left;
  width: 47%;
  margin-right: 3%;
}
.right {
  display: inline-block;
  float: right;
  width: 47%;
  margin-left: 3%;
}
.ft-xs {
  font-size: 11px;
}

.slide-1 {
  animation: 0.4s ease-in-out slideInFromBottom;
}
.slide-2 {
  animation: 0.6s ease-in-out slideInFromBottom;
}
.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
  filter: alpha(opacity=50);
}

.row.automata {
  margin-left: 0;
  margin-right: 0;
}

// Navicon ~~~~~~~~~~
  .navicon {
    position: relative;
    z-index: 9999;
  }
  .lines-button {
    display: inline-block;      
    transition: .3s;
    cursor: pointer;
    user-select: none;
    border-radius: $button-size/7;
    float: right;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    color: $color-1;
    opacity: 1;
    &:hover {
      opacity: 1;
    }
    &:active {
      transition: 0.2s;        
    }
  }
  .lines {
    //create middle line
    display: inline-block;
    width: 25px;
    height: 3px;
    background: $color-1;
    border-radius: 10px; 
    transition: 0.4s;
    position: relative; 
    /*create the upper and lower lines as pseudo-elements of the middle line*/
    &:before, &:after {
      display: inline-block;
      width: 25px;
      height: 3px;
      background: $color-1;
      border-radius: 10px; 
      transition: 0.4s;
      position: absolute;
      left:0;
      content: '';
      transform-origin: $button-size/14 center;
    }
    &:before { top: $button-size/4; }
    &:after { top: -$button-size/4; }
  }
  .lines-button.x.close .lines {
    /*hide the middle line*/
    background: transparent;
    top: -5px;
    position: relative;
    z-index: 900;
    /*overlay the lines by setting both their top values to 0*/
    &:before, &:after{
      transform-origin: 50% 50%;
      top:0;
      width: 25px;
      background: white;
    }
    // rotate the lines to form the x shape
    &:before{
        transform: rotate3d(0, 0, 1, 45deg); 
    }
    &:after{
      transform: rotate3d(0, 0, 1, -45deg); 
    }
  }
  .close {
    opacity: 1;
  }
  button {
    display: inline-block;
    margin: 0 1em;
    border: none;
    background: none;
  }
  button:focus {
    outline: none;
  }

.mobile-nav {
  display: none;
  #navicon {
    height: auto;
    p {
      font-size: $ft-md;
      line-height: 24px;
      margin: 0;
      cursor: pointer;
    }
  }
}

// Header ~~~~~~~~~~~
header {  
  overflow: hidden;
  padding: 30px 0;
  border-bottom: 2px solid $color-1;
  // background: $color-2;
  h1 {    
    font-size: $ft-sm;
    line-height: 20px;
    padding: 4px 8px;
    position: relative;
    right: 8px;
    display: inline-block;
    @include transition();
    .icon {
      font-size: $ft-lg;
    }
    // &:hover {
    //   background-color: $color-1;
    //   color: #fff;
    // }
  }
  ul.nav {  
    float: right;
    position: relative;
    left: 8px;
    li {
      display: inline-block;
    }
    a {
    font-size: 14px;     
      margin-left: 30px;
      padding: 4px 8px;
      @include transition();
      &:hover {
        background-color: $color-1;
        color: #fff;
      }
    }
  }
  .mobile-nav {
    display: none;
  }
}

.project-details header a:hover h1 {
  background-color: $color-1;
  color: #fff;
}

// Sticky Header ~~~~~~~~~~~
#sticky-header {
  background: rgba(15,27,255,0.92);
  overflow: hidden;
  padding: 10px 0;
  position: fixed;
  top: -200px;
  width: 100%;
  z-index: 99999;
  box-shadow: 0 10px 25px rgba(15,27,255,0.25);
  @include transition-slow();
  .to-top {
    position: relative;
    right: 8px;
    display: inline-block;
    @include transition();
    h1 {
      color: #fff;
      font-size: $ft-sm;
      line-height: 20px;
      padding: 4px 42px 4px 8px;
      display: inline-block;
      @include transition();
    }
    &:hover {
      background-color: #fff;
      color: $color-1;
    }
    &:hover h1, &:hover .icon {
      color: $color-1;
      fill: $color-1;      
    }
  }    
  .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 4px;
    font-size: 24px;
    display: inline-block;
    width: 1em;
    height: 1em;      
    fill: #fff;
    @include transition();
  }
  ul.nav {  
    float: right;
    position: relative;
    left: 8px;
    li {
      display: inline-block;
    }
    a {
      font-size: 14px;
      color: #fff;      
      margin-left: 30px;
      padding: 4px 8px;
      @include transition();
      &:hover {
        background-color: #fff;
        color: $color-1;
      }
    }
  }
  .lines-button.x.close .lines {
    background: transparent;
  }
  .lines {
    background: #fff;
    &:before, &:after {
      background: #fff;
    }
  }
  .mobile-nav {
    #navicon {
      height: auto;
      p {
        color: #fff;
        font-size: $ft-md;
        line-height: 24px;
      }
    }
  }
}

// Mobile Menu ~~~~~~~~~~~
#mobile-nav-menu {
  // display: none;
  background: rgba(15,27,255,.9);
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(200%);
  width: 100%;
  height: 100%;
  z-index: 999999;
  @include transition();
  .menu {
    margin-top: 88px;
    text-align: right;
    display: block;
    // width: 200px;    
    ul {
      float: right;
      border-top: 2px solid #fff;
      padding-top: 30px;
    }
    a {
      font-size: $ft-lg;
      color: #fff;
      li {
        font-size: $ft-lg;
        margin-bottom: $mg-sm;
        color: #fff;
        line-height: 40px;
      }      
    }
  }
  p.close-x {
    position: relative;
    top: 28px;
    left: 3px;
    float: right;
    cursor: pointer;    
    .icon {
      font-size: $ft-lg;
      display: inline-block;
      width: 28px;
      height: 28px;
      stroke-width: 0;
      stroke: currentColor;
      fill: #fff;
    }
  }
}

svg.hide {
  display: none;
}

// Landing ~~~~~~~~~~~
#landing {
  overflow: hidden;
  position: relative;
  z-index: 999;
  // background: $color-2;
  // border-bottom: 2px solid $color-1;
  .call-box-wrapper {
    display: inline-block;
    width: 100%;
    padding: 50px 0;
    .call-box {
      max-width: 500px;
      margin: 0 auto;
      // border: 2px solid $color-1;
      text-align: center;
      padding: 50px 0;
      animation: 0.6s ease-in-out slideInFromBottom;      
      h2 {
        font-size: $ft-xxl;
        line-height: 40px;
        margin-bottom: $mg-sm;
      }
      .contact-wrapper {
        animation: 0.65s ease-in-out slideInFromBottom;
        margin-bottom: $mg-sm;
        position: relative;
        a {
          margin: 0 4px;          
          .icon {
            font-size: 32px;
            display: inline-block;
            width: 1em;
            height: 1em;
            stroke-width: 0;
            stroke: currentColor;
            fill: currentColor;
            padding: 4px;
            @include transition();
            &:hover {
              fill: #fff;
              background-color: $color-1;
            }
          }          
        }
      }
      .hover-group {
        animation: 1.1s ease-in-out slideInFromBottom;
        position: relative;      
      }
      .call-text {
        font-size: $ft-xs;
        line-height: 22px;
        display: inline-block;
        width: auto;
        padding: 2px 12px 4px;
        margin-bottom: 0;
        @include transition();
      }
      .point {
        margin-bottom: 0;
        display: inline-block;
        width: auto;
        font-size: $ft-xxl;
        transform: translateY(0px);
        position: relative;
        padding-top: 8px;
        bottom: 10px;
        line-height: 58px;
        @include transition();
      }
      .hover-group:hover .call-text {
        background-color: $color-1;
        color: #fff;
      }
      .hover-group:hover .point {
        transform: translateY(10px);
        background-color: transparent;
        color: $color-1;
      }
    }
  }
}

.section {
  margin-bottom: $mg-xl;
  border-top: 2px solid $color-1;
  padding-top: 20px;
  h3 {
    margin-top: $mg-lg;
  }
}

// Projects ~~~~~~~~~~~
#projects {  
  .projects-wrapper {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: $mg-lg 0 0; 
  }
  .mobile-project-caption {
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    position: relative;
    text-align: left;    
    display: none;
    border-top: 2px solid $color-1;
    h4 {        
      text-transform: uppercase;                
    }
  }
  .projects {
    display: inline-block;
    width: 100%;        
    .img-wrap {
      // border: 1px solid #ddd;
      // width: 49%;
      width: 50%;
      // margin: 11px 1%;
      margin: 0px 0%;
      display: inline-block;
      float: left; 
      overflow: hidden;
      position: relative;
      box-shadow: none;
      @include transition();
      &:nth-of-type(odd) {        
        margin-left: 0;
        // margin-right: 1%;
        margin-right: 0%;
      }
      &:nth-of-type(even) { 
        margin-right: 0;
        // margin-left: 1%;
        margin-left: 0%;
      }      
      &:hover {
        box-shadow: 0 0 25px rgba(15,27,255,0.5);
      }
      &:hover .img-overlay {
        background: rgba(15,27,255,0.9);
      }
      &:hover .overlay-wrap {
        opacity: 1;
      }
      &:hover .slide-right {
        left: 0 !important;
      }
      &:hover .slide-right-slow {
        left: 17px !important;
      }
      img {
        width: 100%;
        height: auto;
      }
      
      .arrow {
        color: #fff;
        position: absolute;
        bottom: 14px;
        left: -300px;
        @include transition-slow();
        p {
          margin: 0;
          font-size: $ft-md;
          line-height: 12px;
          .icon {
            fill: #fff;
            width: 28px;
            height: 28px;
          }
        }
      }
    }
  }
  .img-overlay {
    position: absolute;
    background: rgba(255,255,255,0);
    @include transition();
    z-index: 999;
    top: 0px;
    left: 0px;
    padding: 20px;        
    .overlay-wrap {
      opacity: 0;
      position: relative;
      z-index: 999;
      color: #fff;
      text-align: left;
      @include transition();
      h4 {
        font-size: $ft-sm;
        text-transform: uppercase;
        margin-bottom: 2px;
        span {
          font-size: $ft-xs;
          position: relative;
          bottom: 1px;
        }                        
      }
      p {
        font-style: italic;
        border-bottom: 1px solid #fff;
        margin-bottom: 26px;
        padding-bottom: 14px;
      }
      .left, .right {
        width: auto;
      }
      .left {
        margin-right: 50px;
      }
      .right {
        float: none;
      }
      .slide-right {
        position: relative;
        left: -300px;
        @include transition();
      }
      .slide-right-slow {            
        left: -300px;
        @include transition-slow();
      }
      ul {
        padding: 0;
      }
      li {
        font-size: 18px;
        line-height: 26px;
      }          
    }        
  }
}
img.tc-wrecker {  
  background: #B2D2E5;
}
img.corval {  
  background: #0048A6;
}
img.comparatio {  
  background: #FFE4D3;        
}
img.present-moment {
  background: #C1E882;
}
img.azure {
  background: #D3EFFF;
}
img.signature {
  background: #eee;
}
img.lahs {
  background: #F5F5F5;
}
img.power-eq {
  background: #0A56A1;
}
img.mastermind {
  background: #333;
}
img.corban {
  background: #D6D9F1;
}

// Résumé ~~~~~~~~~~~
#resume {
  .resume-wrapper {
    max-width: 740px;    
    margin: 0 auto;
    display: block;
    // border: 2px solid $color-1;
    // padding: 20px;
    margin-top: $mg-lg;
  }
  .resume-section {
    overflow: hidden;
    margin-bottom: 70px;
    &:last-child {
      margin-bottom: 0;
    }
    span.new-line-mobile {
      font-style: italic;      
    }
  }
  .left {
    width: 18%;
    display: inline-block;
    float: left;
    margin-right: 2%;
  }
  .right {
    width: 76%;
    display: inline-block;
    padding-left: 4%;
    margin-left: 0;
    border-left: 2px solid $color-1;
    a {
      padding: 3px 5px 1px;
      overflow: hidden;
      display: inline-block;
      position: relative;
      right: 7px;
      @include transition();
      .icon {
        width: 40px;
        height: 40px;
        fill: $color-1;
        @include transition();
      }
      &:hover {
        background-color: $color-1;
      }
      &:hover .icon {
        fill: #fff;        
      }
    }
  }
  h5 {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: $ft-xxs;
  }
  p {
    margin: 0;
  }
  .skills {
    ul {
      width: 30%;
      margin-right: 3.33333%;
      padding: 0;
      float: left;
      display: inline-block;
    }
    .mobile-skills-list {
      display: none;
    }
  }
  .experience {
    .title {
      font-size: $ft-xs;
    }
    ul { 
      margin-top: 16px;     
      margin-bottom: 66px;
      &:last-child {
        margin-bottom: 0;
      }
      li {
        line-height: 18px;
        margin-bottom: 24px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  .education {
    .title {
      font-size: $ft-xs;
    }
    ul {
      margin-top: 24px;
      li {        
        line-height: 18px;
        margin-bottom: 12px;
        &:last-child {
          margin-bottom: 0;
        }
      }      
    }
  }
}

#details {
  padding: 100px 0;
  .back {
    position: absolute;
    top: -50px;
    left: 0;
    .icon {
      width: 20px;
      height: 20px;
      transform: rotate(180deg);
      fill: $color-1;
      margin-right: 6px;
      position: relative;
      top: 5px;
      @include transition();
    }
    p {
      display: inline-block;
      margin: 0;
      padding: 0 6px;
      @include transition();
    }
    a:hover p {
      background-color: $color-1;
      color: #fff;
    }
    a:hover .icon {      
      transform: translateX(-5px) rotate(180deg);      
    }
  }
  img {
    max-width: 360px;
    border: 2px solid #0F1BFF;
  }
  img.bg-color {
    background-color: #ccc;
  }
  h2 {
    margin-top: 42px;
  }
  h4 {
    margin-top: 6px;
    font-style: italic;
    border-bottom: 2px solid $color-1;
    padding-bottom: 27px;
  }
  p {
    line-height: 22px;
    margin-top: 50px;
  }
  ul {
    margin-top: 50px;
  }
  li {
    margin-bottom: 28px;
  }
  .left {
    position: relative;
    display: inline-block;
    width: 47%;
    margin-right: 3%;    
  }
  .right {
    display: inline-block;
    width: 47%;
    margin-left: 3%;
    img {
      width: 100%;
      max-width: inherit;
      max-width: initial;
      margin-bottom: 30px;     
    }
    ul {
      margin: 0;
    }
    li {      
      width: 47%;
      margin-bottom: 0;
      float: left;
      &:first-child {
        margin-right: 6%;
      }
      img {
        margin-bottom: 0;
      }
    }
  }
  ul.tech-icons {
    margin-top: 80px;
    overflow: hidden;
    li {
      position: relative;
      width: 50%;
      float: left;
    }
    .icon {
      fill: $color-1;
      width: 40px;
      height: 40px;
    }
    p {
      display: inline-block;
      margin: 0 0 0 24px;
      font-size: 18px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

// Contact ~~~~~~~~~~~
#contact {
  .contact-wrapper {
    animation: 0.65s ease-in-out slideInFromBottom;
    margin-top: $mg-md;
    text-align: center;
    // position: relative;
    // right: 8px;
    a {
      margin-right: 30px;
      display: inline-block;
      &:last-child {
        margin-right: 0;
      }
      .icon {
        font-size: 50px;
        display: inline-block;
        width: 1em;
        height: 1em;
        stroke-width: 0;
        stroke: currentColor;
        fill: currentColor;
        padding: 8px;
        @include transition();
        &:hover {
          fill: #fff;
          background-color: $color-1;
        }
      }          
    }
  }
}

// Footer ~~~~~~~~~~~
footer {
  background: $color-1;
  padding: 14px 0;
  overflow: hidden;
  height: 70px;
  .to-top {
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
    float: right;
    a {
      background: transparent;
      float: right;
      color: #fff;
      font-size: $ft-lg;
      padding: 0 10px;
      width: 40px;
      height: 40px;
      position: relative;
      &:hover {
        background: #fff;
        color: $color-1;
      }
      &:hover .icon {
        fill: $color-1;
      }
      .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translateY(-50%, -50%);
        transform: translate(-50%, -50%);
        font-size: 24px;
        display: inline-block;
        width: 1em;
        height: 1em;      
        fill: #fff;
        @include transition();
      }
    }
  }
  .copy-icon {
    font-size: $ft-lg;    
    line-height: 28px;
    position: relative;
    top: 10px;
  }
  p {
    position: absolute;
    color: #fff;
  }
  .right {
    a {
      @include transition();
    }
  }
}

// ~~~~~~~~~~~~~~~
// cellular automata
.wrapper {
  position: absolute;
  width: 120%;
}
.wrapper, .row {
  display: inline-block;
  float: left;
}
.row {
  transition: 0.2s all ease-in-out;
}
.row div {
  display: inline-block;
  float: left;
  width: 10px;
  height: 10px;
  // border-radius: 50%;
  overflow-wrap: break-word;
}

.row div.true {  
  background-color: rgba(15,27,255,0.05); // 0.04
}
.row div.false {
  background-color: rgba(15,27,255,0.0);  
}
// ~~~~~~~~~~~~~~~

// Media Queries ~~~~~~~~~
@media screen and (max-width: 1200px) {
  #projects .projects .img-wrap {
    // margin: 10px 1%;
    margin: 0px 0%;
  }
  #projects .projects .img-wrap .img-overlay .overlay-wrap li {        
    font-size: 16px;
    line-height: 22px;
  }
  #projects .projects .img-wrap .img-overlay .overlay-wrap p {
    margin-bottom: 20px;
    padding-bottom: 12px;
  }
  #details ul.tech-icons {
    .icon {
      width: 25px;
      height: 25px;
    }
    p {
      font-size: 16px;
    }
  } 
}

@media screen and (max-width: 992px) {
  #projects .projects .img-wrap {
    // margin: 7px 1%;
    margin: 0px 0%;
  }
  #projects .projects .img-wrap .img-overlay {
    padding: 14px;
  }
  #projects .projects .img-wrap .img-overlay .overlay-wrap h4 {
    font-size: 18px;
  }
  #projects .projects .img-wrap .img-overlay .overlay-wrap p {
    margin-bottom: 10px;
    font-size: 12px;
    padding-bottom: 8px;
  }
  #projects .projects .img-wrap .img-overlay .overlay-wrap li {    
    font-size: 14px;
    line-height: 18px;
  }
  #projects .projects .img-wrap .arrow {
    bottom: 8px;
  }
  #projects .projects .img-wrap:hover .slide-right-slow {
    left: 12px!important;
  }
  #details {
    h2 {
      font-size: 24px;
      margin-top: 30px;
    }
    h4 {
      font-size: 14px;     
    }
    img {
      max-width: 260px;
    }
    ul {
      margin-top: 30px;
    }
    ul.tech-icons {
      margin-top: 50px;
    }
  }
}

@media screen and (max-width: 768px) {
  header, #sticky-header {
    .left {
      width: 75%;
      margin: 0;
    }
    .right {
      width: 20%;
      margin-left: 5%;
    }    
  } 
  #sticky-header {
    a .to-top {
      &:hover h1, &:hover .icon {               
        color: #fff;
        fill: #fff;
      }
      &:hover {
        background-color: transparent;
      }
    }
  }  
  #landing .call-box-wrapper .call-box .contact-wrapper a .icon:hover {
    fill: $color-1;
    background-color: #fff;
  }
  #landing .call-box-wrapper .call-box .hover-group:hover .call-text {
    background-color: #fff;
    color: $color-1;
  }
  #landing .call-box-wrapper .call-box .hover-group:hover .point {
    transform: translateY(0);
  }
  body #projects .mobile-project-caption {
    display: inline-block;
  }
  // removes project img hover styles
  #projects .projects .img-wrap {
    &:hover {
      box-shadow: none;
    }
    &:hover .img-overlay {
      background: transparent;
    }
    &:hover .overlay-wrap {
      opacity: 0;
    }
    &:hover .slide-right {
      display: none;
    }
    &:hover .slide-right-slow {
      display: none;
    }
  }
  // END removes project img hover styles
  #resume .right a:hover {
    background-color: #fff;
  }
  #resume .right a:hover .icon {
    fill: $color-1;
  }
  #contact .contact-wrapper a .icon:hover {
    fill: $color-1;
    background-color: #fff;
  }
  footer .to-top a:hover {
    background: $color-1;
    color: #fff;
  }
  footer .to-top a:hover .icon {
    fill: #fff;
  }
  .desktop-nav {
    display: none;
  }
  .mobile-nav {
    float: right;      
    display: inline-block !important;
  }
  #projects .projects .img-wrap {
    width: 100%;
    max-width: 500px;
    margin: 0 0 80px !important;
    float: none;
    &:last-child {
      margin: 0 !important;
    }
  }
  #resume {
    .left {
      width: 100%;
      margin: 0;
    }
    .right {
      width: 100%;
      margin: 0;
      padding: 0;
      border: none;
    }
    h4 {
      margin-bottom: 20px;
      display: inline-block;
      border-bottom: 2px solid $color-1;
      padding-bottom: 3px;      
    }  
  }
  #details {
    .left {
      width: 100%;
    }
    .right {
      margin-top: 30px;
      width: 100%;
      text-align: center;
    }
    ul.tech-icons {
      display: none;
    }    
  }
}

@media screen and (max-width: 600px) {
  #resume h5 {
    // font-size: 14px;
  }
  .experience {
    span.hide-mobile {
      display: none;
    }
    span.new-line-mobile {
      width: 100%;
      display: inline-block;
      margin-top: 6px;      
    }
  }
  #resume {
    .skills {
      .desktop-skills-list {
        display: none;
      }
      .mobile-skills-list {
        display: inline-block;
        width: 100%;
        ul {
          width: 48%;
          margin-right: 2%;

        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  #resume .qualifications li {
    margin-bottom: 10px;
    line-height: 17px;
  }
}

@media screen and (max-width: 420px) {
  a,p,li {
    font-size: 13px;    
  }
  #sticky-header h1 {    
    font-size: 18px;
  }
  #landing .call-box-wrapper .call-box h2 {
    font-size: 34px;
  }
  #projects .mobile-project-caption p {
    font-size: 11px;
  }
  #projects .projects .img-wrap {
    width: 100%;
    max-width: 500px;
    margin: 0 0 60px !important;
    float: none;    
  }
  footer {
    p {
      font-size: 11px;
    }
    .copy-icon {
      font-size: 24px;
    }
  }
  #details .right li {
    width: 100%;
    &:first-child {
      margin-bottom: 30px;
    }
  }
  #details img {
    width: 100%;
    max-width: inherit;
    max-width: initial;
  }
}

@media screen and (max-width: 350px) {
  #resume .skills ul:last-child {
    width: 42%;
    margin-left: 6%;
  }
}