$color-1: #0F1BFF;
$color-2: rgba(15,27,255,0.05);

$ft-xxl: 40px;
$ft-xl: 34px;
$ft-lg: 28px;
$ft-md: 24px;
$ft-sm: 20px;
$ft-xs: 16px;
$ft-xxs: 12px;

$mg-xxs: 5px;
$mg-xs: 10px;
$mg-sm: 20px;
$mg-md: 30px;
$mg-lg: 50px;
$mg-xl: 80px;