/*
 * Emigre web font kit Vdal2b4jZR58a9tFFongFQ==
 * 
 * These fonts are not shareware. 
 * Use of these fonts requires the purchase 
 * of a license from Emigre, www.emigre.com  
 * Please contact sales@emigre.com
 *
 * To purchase a license to use this font go to:
 * http://www.emigre.com/
 *
 * © 2019 Emigre, Inc
 */




@font-face {
    font-family: 'mrseavesot-roman';
    src: url('mrseavesot-roman-webfont.eot');
    src: url('mrseavesot-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('mrseavesot-roman-webfont.woff2') format('woff2'),
         url('mrseavesot-roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
